<h1>Parcel</h1>
 <h4>Enter values to determine shipping cost.</h4>

 <form action="/result">
   <div class="form-group">
      <label for="height">Height</label>
      <input id="height" name="height" class="form-control" type="text"></input>
      <label for="width">Width</label>
      <input  id="width" name="width" class="form-control" type="text"></input>
      <label for="length">Length</label>
      <input  id="length" name="length" class="form-control" type="text"></input>
      <label for="weight">Weight (lbs)</label>
      <input  id="weight" name="weight" class="form-control" type="text"></input>
   </div>
   <button type="submit" class="btn btn-success">Go</button>
 </form>

 <div id="output">
   <h3>Parcel Dimensions</h3>
   <h5>Height: <%= @height%> Width: <%= @width%> Length: <%= @length%></h5>
   <!-- <h5></h5>
   <h5></h5> -->
   <h5>With a weight of: <%= @weight%> lbs</h5>
   <h3>Final Cost</h3>
   <h5>Your cost to ship is going to be: $<%= @cost_to_ship%></h5>
 </div>
